.e-schedule  {
  height: 100vh !important;
}
.ReactModal__Overlay--after-open{
  background-color:rgba(0, 0, 0, 0.5) !important
}
.e-description{
  display: flex;
  justify-content: flex-end;
}
.e-quick-popup-wrapper .e-description-icon::before{
  display: none;
}
.e-quick-popup-wrapper .e-edit-icon::before{
  display: none;
}
.e-quick-popup-wrapper .e-delete-icon::before{
  display: none;
}
.register_user{
  padding:10px;
  background-color:#3f51b5;
  color:white;
  border:none;
}

form {
  margin: 10px 0px;
}

input[type=text],input[type=email] {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #3f51b5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #d4d9f7;
}
.model-form{
  background-color:  #a09a9a
}